.icon-archives {
  background: url("../img/sprite.png") no-repeat 0px -80px;
  width: 32px;
  height: 22px;
}
.icon-comments {
  background: url("../img/sprite.png") no-repeat -30px -54px;
  width: 28px;
  height: 26px;
}
.icon-magnifyingGlass { // add! to search
  background: url("../img/sprite.png") no-repeat -108px -72px;
  width: 16px;
  height: 16px;
}
.icon-news-small-bg {
  background: url("../img/sprite.png") no-repeat 0 0;
  width: 54px;
  height: 54px;
}
.icon-newspaper {
  background: url("../img/sprite.png") no-repeat -58px -54px;
  width: 30px;
  height: 24px;
}
.icon-photos-titleIcon {
  background: url("../img/sprite.png") no-repeat 0px -54px;
  width: 30px;
  height: 26px;
}
.icon-rss {
  background: url("../img/sprite.png") no-repeat -108px -24px;
  width: 24px;
  height: 24px;
}
.icon-twitter {
  background: url("../img/sprite.png") no-repeat -108px -48px;
  width: 24px;
  height: 24px;
}
.icon-user {
  background: url("../img/sprite.png") no-repeat -88px -54px;
  width: 14px;
  height: 16px;
}
.icon-videos-icon {
  background: url("../img/sprite.png") no-repeat -108px 0px;
  width: 28px;
  height: 24px;
}
.icon-videos-play-icon {
  background: url("../img/sprite.png") no-repeat -54px 0px;
  width: 54px;
  height: 48px;
}
